[submodule "leptonica"]
	path = leptonica
  url = https://github.com/jeromewu/leptonica
  branch = 1.74.2-tesseract.js
[submodule "tesseract"]
	path = tesseract
	url = git@github.com:jeromewu/tesseract.git
  branch = 4.0.0-tesseract.js
